<section [ngClass]="{'week__container': true, 'disable': isGlobalPopupOpen}">
  <div class="week__container__days__wrapper">
    <div class="week__container__days">
      <!--Horizontal -->
      <div class="week__container__days__wrap" *ngFor="let day of weekDays">
        <span class="week__container__days__number">{{day.date}} {{monthsCase[todayMonth]}}</span>
        <span class="week__container__days__name">{{dayCase[day.day]}}</span>
      </div>
    </div>
  </div>



  <div class="week__container__vertical">
    <div class="week__container__vertical__time">
      <!--Vertical-->
      <span class="week__container__vertical__time__classes" *ngFor="let timeItem of todayTime">
        {{timeItem[0]}}<br>{{timeItem[1]}}<br>{{timeItem[2]}}
      </span>
    </div>

    <div class="week__container__vertical__sch">
      <div class="week__container__vertical__sch__day" *ngFor="let day of weekSchedule; odd as odd">
        <div [ngClass]="{'lesson': true, 'lesson__type1' : !odd, 'lesson__type2': odd }"
          *ngFor="let lesson of day.lessons">
          <div *ngIf="lesson.isEmpty" class="lesson__empty"></div>
          <ng-template [ngIf]="!lesson.isEmpty && lesson.isSplitted && lesson.first && lesson.second">
            <div class="sg">
              <div class="subgroup1">
                <div *ngIf="lesson.first.isEmpty" class="lesson__empty"></div>
                <ng-template [ngIf]="!lesson.first.isEmpty">
                  <span class="lesson__name">{{lesson.first.name}}</span>
                  <span class="lesson__type">{{lessonsType[lesson.first.type || '1']}}</span>
                  <span class="lesson__teacher">{{lesson.first.professor}}</span>
                  <span class="lesson__classroom" *ngIf="!lesson.first.isOnline">{{lesson.first.place}}</span>
                  <a class="lesson__classroom" *ngIf="lesson.first.isOnline" href="{{lesson.first.place}}">Посилання
                    ></a>
                </ng-template>
              </div>

              <span class="vertical-line"></span>

              <div class="subgroup2">
                <div *ngIf="lesson.second.isEmpty" class="lesson__empty"></div>
                <ng-template [ngIf]="!lesson.second.isEmpty">
                  <span class="lesson__name">{{lesson.second.name}}</span>
                  <span class="lesson__type">{{lessonsType[lesson.second.type || '1']}}</span>
                  <span class="lesson__teacher">{{lesson.second.professor}}</span>
                  <span class="lesson__classroom" *ngIf="!lesson.second.isOnline">{{lesson.second.place}}</span>
                  <a class="lesson__classroom" *ngIf="lesson.second.isOnline" href="{{lesson.second.place}}">Посилання
                    ></a>
                </ng-template>
              </div>
            </div>

          </ng-template>
          <ng-template [ngIf]="!lesson.isEmpty && !lesson.isSplitted && lesson.general">
            <span class="lesson__name">{{lesson.general.name}}</span>
            <span class="lesson__type">{{lessonsType[lesson.general.type || '1']}}</span>
            <span class="lesson__teacher">{{lesson.general.professor}}</span>
            <span class="lesson__classroom" *ngIf="!lesson.general.isOnline">{{lesson.general.place}}</span>
            <a class="lesson__classroom" *ngIf="lesson.general.isOnline" href="{{lesson.general.place}}">Посилання
              ></a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</section>
