<section class="week__container">
  <div class="week__container__days__wrapper">
      <div class="week__container__days"> <!--Horizontal -->
          <div class="week__container__days__wrap"> 
              <span class="week__container__days__number">6 СІЧНЯ</span> 
              <span class="week__container__days__name">Понеділок</span>            
          </div>
          <div class="week__container__days__wrap">
              <span class="week__container__days__number">7 СІЧНЯ</span> 
              <span class="week__container__days__name">Вівторок</span>
                          
          </div>
          <div class="week__container__days__wrap">
              <span class="week__container__days__number">8 СІЧНЯ</span>
              <span class="week__container__days__name">Середа</span>
                              
          </div>
          <div class="week__container__days__wrap">
              <span class="week__container__days__number">9 СІЧНЯ</span>
              <span class="week__container__days__name">Четвер</span>
                              
          </div>
          <div class="week__container__days__wrap">
              <span class="week__container__days__number">10 СІЧНЯ</span>
              <span class="week__container__days__name">П'ятниця</span>
                              
          </div>
      </div>
  </div>



  <div class="week__container__vertical">
      <div class="week__container__vertical__time"> <!--Vertical-->
          <span class="week__container__vertical__time__classes">9:00<br>-<br>10:20</span>
          <span class="week__container__vertical__time__classes">10:30<br>-<br>11:50</span>
          <span class="week__container__vertical__time__classes">12:10<br>-<br>13:30</span>
          <span class="week__container__vertical__time__classes">13:40<br>-<br>15:00</span>
      </div>

      <div class="week__container__vertical__time--tablet"> <!--Vertical-->
          <div class="week__container__vertical__time__tablet"></div>
          <div class="week__container__vertical__time__container">
              <span class="week__container__vertical__time__classes">9:00<br>-<br>10:20</span>
              <span class="week__container__vertical__time__classes">10:30<br>-<br>11:50</span>
              <span class="week__container__vertical__time__classes">12:10<br>-<br>13:30</span>
              <span class="week__container__vertical__time__classes">13:40<br>-<br>15:00</span>
          </div>
      </div>

      <div class="week__container__vertical__sch" >
          <div class="week__container__vertical__sch__day">
              <div class="lesson lesson__type1">
                  <div class="lesson__empty"></div>
              </div>
              <div class="lesson lesson__type1">
                  <span class="lesson__name">Системи банкової безпеки</span>
                  <span class="lesson__type">Лекція</span>
                  <span class="lesson__teacher">Мухін В. Є.</span>
                  <span class="lesson__classroom">304 ауд.</span>
              </div>
              <div class="lesson lesson__type1">
                  <span class="lesson__name"></span>
                  <span class="lesson__type"></span>
                  <span class="lesson__teacher"></span>
                  <span class="lesson__classroom"></span>
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
              </div>
              <div class="lesson  lesson__type1">
                  <span class="lesson__name"></span>
                  <span class="lesson__type"></span>
                  <span class="lesson__teacher"></span>
                  <span class="lesson__classroom"></span>
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
                  
              </div>
          </div>


          <div class="week__container__vertical__sch__day">
              <div class="lesson lesson__type2">
                  <span class="lesson__name">Системи банкової безпеки</span>
                  <span class="lesson__type">Лекція</span>
                  <span class="lesson__teacher">Мухін В. Є.</span>
                  <span class="lesson__classroom">304 ауд.</span>
              </div>
              <div class="lesson lesson__type2">
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
              </div>
              <div class="lesson lesson__type2">
                  <span class="lesson__name">Вступ до фаху</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">проф. Кравченко Ю. В.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
              <div class="lesson lesson__type2">
                  <span class="lesson__name">Вступ до фаху</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">проф. Кравченко Ю. В.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
          </div>


          <div class="week__container__vertical__sch__day">
              <div class="lesson lesson__type1">
                  <span class="lesson__name">Системи банкової безпеки</span>
                  <span class="lesson__type">Лекція</span>
                  <span class="lesson__teacher">Мухін В. Є.</span>
                  <span class="lesson__classroom">304 ауд.</span>
              </div>
              <div class="lesson lesson__type1">
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
              </div>
              <div class="lesson lesson__type1">
                  <span class="lesson__name">Вступ до фаху</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">проф. Кравченко Ю. В.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
              <div class="lesson lesson__type1">
                  <div class="lesson__empty"></div>
              </div>
          </div>


          <div class="week__container__vertical__sch__day">
              <div class="lesson lesson__type2">
                  <div class="lesson__empty"></div>
              </div>
              <div class="lesson lesson__type2">
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
              </div>
              <div class="lesson lesson__type2">
                  <span class="lesson__name">Вступ до фаху</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">проф. Кравченко Ю. В.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
              <div class="lesson lesson__type2">
                  <div class="lesson__empty"></div>
              </div>
          </div>

          
          <div class="week__container__vertical__sch__day">
              <div class="lesson lesson__type1">
                  <span class="lesson__name">Вища математика</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">Дахно Н. Б.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
              <div class="lesson lesson__type1">
                  <div class="sg">
                      <div class="subgroup1">
                          <span class="lesson__name">Системи банкової безпеки</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Мухін В. Є.</span>
                          <span class="lesson__classroom">201 ауд.</span>
                      </div>
                      <span class="vertical-line"></span>
                      <div class="subgroup2">
                          <span class="lesson__name">Технології програмування</span>
                          <span class="lesson__type">Лабораторна</span>
                          <span class="lesson__teacher">Герасименко О. Ю.</span>
                          <span class="lesson__classroom">309 ауд.</span>
                      </div>
                      
                  </div>
              </div>
              <div class="lesson lesson__type1">
                  <span class="lesson__name">Вища математика</span>
                  <span class="lesson__type">Практика</span>
                  <span class="lesson__teacher">Дахно Н. Б.</span>
                  <span class="lesson__classroom">Посилання ></span>
              </div>
              <div class="lesson lesson__type1">
                  <div class="lesson__empty"></div>
              </div>
          </div>

          <div class="for-tablet">
              <div class="lesson__subgroup__container">
                  <div class="lesson__subgroup__title">1 підгрупа</div>
                  <div class="lesson__subgroup__title">2 підгрупа</div>
              </div>
              <div class="lesson__container">
                  <div class="lesson lesson__type1">
                      <div class="lesson__empty"></div>
                  </div>
                  <div class="lesson lesson__type1">
                      <span class="lesson__name">Системи банкової безпеки</span>
                      <span class="lesson__type">Лекція</span>
                      <span class="lesson__teacher">Мухін В. Є.</span>
                      <span class="lesson__classroom">304 ауд.</span>
                  </div>
                  <div class="lesson lesson__type1">
                      <span class="lesson__name"></span>
                      <span class="lesson__type"></span>
                      <span class="lesson__teacher"></span>
                      <span class="lesson__classroom"></span>
                      <div class="sg">
                          <div class="subgroup1">
                              <span class="lesson__name">Системи банкової безпеки</span>
                              <span class="lesson__type">Лабораторна</span>
                              <span class="lesson__teacher">Мухін В. Є.</span>
                              <span class="lesson__classroom">201 ауд.</span>
                          </div>
                          <span class="vertical-line"></span>
                          <div class="subgroup2">
                              <span class="lesson__name">Технології програмування</span>
                              <span class="lesson__type">Лабораторна</span>
                              <span class="lesson__teacher">Герасименко О. Ю.</span>
                              <span class="lesson__classroom">309 ауд.</span>
                          </div>
                          
                      </div>
                  </div>
                  <div class="lesson  lesson__type1">
                      <span class="lesson__name"></span>
                      <span class="lesson__type"></span>
                      <span class="lesson__teacher"></span>
                      <span class="lesson__classroom"></span>
                      <div class="sg">
                          <div class="subgroup1">
                              <span class="lesson__name">Системи банкової безпеки</span>
                              <span class="lesson__type">Лабораторна</span>
                              <span class="lesson__teacher">Мухін В. Є.</span>
                              <span class="lesson__classroom">201 ауд.</span>
                          </div>
                          <span class="vertical-line"></span>
                          <div class="subgroup2">
                              <span class="lesson__name">Технології програмування</span>
                              <span class="lesson__type">Лабораторна</span>
                              <span class="lesson__teacher">Герасименко О. Ю.</span>
                              <span class="lesson__classroom">309 ауд.</span>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>


      
  </div>
  
</section>
