.month {
  &__container {
    padding: 35px 50px 50px;
    display: flex;
    justify-content: space-around;
    height: calc(100% - 200px);

    @media screen and (max-width: 1700px) {
        padding: 5px 50px 50px;
        height: calc(100% - 170px);
    }

    @media screen and (max-width: 960px) {
        padding: 5px 10px 50px;
        height: calc(100% - 160px);
    }

    @media screen and (max-width: 860px) {
        padding: 5px 50px 20px;
        height: calc(100% - 130px);
        justify-content: center;
    }

    @media screen and (max-width: 660px) {
        height: calc(100% - 100px);
        padding: 5px 5px 10px;
    }
  }

  &__calendar {
    width: 45%
  }

  &__schedule {
    width: 40%;
  }
}