<div class="schedule">
  <div class="schedule__title">
      <p class="schedule__date">
          7 січня
      </p>
      <p class="schedule__weekday">
          Вівторок
      </p>
  </div>
  <div class="schedule__container">
      <div class="schedule__class__subgroup__container">
        <div class="schedule__class__subgroups">
          <p class="schedule__class__subgroup">1 підгрупа</p>
          <p class="schedule__class__subgroup">2 підгрупа</p>
        </div>
      </div>
      <div class="schedule__class__container">
          <div class="schedule__time"><p>9:00</p><p>-</p><p>10:20</p></div>
          <div class="schedule__class__group">
              <div class="schedule__class schedule__class--sub">
                  <div class="schedule__class__title">
                    <p class="schedule__class__name">Вища математика</p>
                    <p class="schedule__class__type">Практика</p>
                  </div>
                  <p class="schedule__class__professor">Дахно Н. Б.</p>
                  <p class="schedule__class__place">309 ауд.</p>
              </div>
              <div class="schedule__class__divider"></div>
              <div class="schedule__class schedule__class--sub schedule__class--empty">
                  <div class="schedule__class__empty"></div>
              </div>
          </div>
      </div>
      <div class="schedule__class__container">
          <div class="schedule__time"><p>10:30</p><p>-</p><p>11:50</p></div>
          <div class="schedule__class__group schedule__class__group--red">
              <div class="schedule__class">
                  <div class="schedule__class__title">
                    <p class="schedule__class__name">Вступ до фаху</p>
                    <p class="schedule__class__type">Лекція</p>
                  </div>
                  <p class="schedule__class__professor">проф. Кравченко Ю. В.</p>
                  <a class="schedule__class__place" href="">Посилання ></a>
              </div>
          </div>
      </div>
      <div class="schedule__class__container">
          <div class="schedule__time"><p>12:10</p><p>-</p><p>13:30</p></div>
          <div class="schedule__class__group">
              <div class="schedule__class schedule__class--sub">
                  <div class="schedule__class__title">
                    <p class="schedule__class__name">Вступ до фаху</p>
                    <p class="schedule__class__type">Практика</p>
                  </div>
                  <p class="schedule__class__professor">проф. Кравченко Ю. В.</p>
                  <a class="schedule__class__place" href="">Посилання ></a>
              </div>
              <div class="schedule__class__divider"></div>
              <div class="schedule__class schedule__class--sub">
                  <div class="schedule__class__title">
                    <p class="schedule__class__name">Вища математика</p>
                    <p class="schedule__class__type">Практика</p>
                  </div>
                  <p class="schedule__class__professor">Дахно Н. Б.</p>
                  <a class="schedule__class__place" href="">Посилання ></a>
              </div>
          </div>
      </div>
      <div class="schedule__class__container">
          <div class="schedule__time"><p>9:00</p><p>-</p><p>10:20</p></div>
          <div class="schedule__class__group schedule__class__group--red">
              <div class="schedule__class schedule__class--sub schedule__class--empty">
                  <div class="schedule__class__empty"></div>
              </div>
              <div class="schedule__class__divider schedule__class__divider--light"></div>
              <div class="schedule__class schedule__class--sub">
                  <div class="schedule__class__title">
                    <p class="schedule__class__name">Вступ до фаху</p>
                    <p class="schedule__class__type">Практика</p>
                  </div>
                  <p class="schedule__class__professor">проф. Кравченко Ю. В.</p>
                  <a class="schedule__class__place" href="">Посилання ></a>
              </div>
          </div>
      </div>
  </div>
</div>
