@import 'variables';

* {
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-0;
}

.header {
    height: 60px;
    padding: 5px 70px;
    background-color: $color-60;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1440px) {
        padding: 5px 50px;
    }

    @media screen and (max-width: 1160px) {
        padding: 5px 16px;
    }

    @media screen and (max-width: 660px) {
        height: 45px;
        padding: 2.5px 10px;
    }

    &__title {
        display: flex;
    }

    &__logo {
        @media screen and (max-width: 660px) {
            height: 45px;
        }
    }

    &__container {
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (max-width: 660px) {
            display: none;
        }
    }

    &__main-text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $color-30;

        @media screen and (max-width: 960px) {
            font-size: 20px;
            line-height: 24px;
        }

        @media screen and (max-width: 760px) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__secondary-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: $color-0;

        @media screen and (max-width: 960px) {
            font-size: 18px;
            line-height: 22px;
        }

        @media screen and (max-width: 760px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__button {
        background-color: $color-40;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $color-80;
        padding: 11px 32px 11px;
        outline: none;
        border: none;
        transition: background-color 200ms ease-in;

        @media screen and (max-width: 760px) {
            padding: 10px;
            font-size: 14px;
            line-height: 17px;
        }

        &:hover {
            background-color: $color-20;
        }
    }
}

.nav {
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        width: 360px;
        margin: 28px auto;

        @media screen and (max-width: 960px) {
            margin: 22px auto;
        }

        @media screen and (max-width: 660px) {
            margin: 10px auto;
            width: 220px;
        }

        &__item {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: $color-10;
            transition: color 200ms ease-in;

            @media screen and (max-width: 660px) {
                font-size: 14px;
                line-height: 17px;
            }

            &--active {
                font-weight: 900;
                color: $color-40;
            }

            &:hover {
                color: $color-20;
            }
        }
    }
}
