@import "style";

.today {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    padding-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $color-90;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    @media screen and (max-width: 768px) {
        width: 80%;
    }
    @media screen and (max-width: 736px) {
        width: 95%;
    }

    &__title {
        margin: 21px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            margin: 18px 0;
        }
        @media screen and (max-width: 426px) {
            margin: 7px 0;
        }
        &__date {
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 49px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $color-20;
            @media screen and (max-width: 768px) {
                font-size: 34px;
                line-height: 41px;
            }
            @media screen and (max-width: 426px) {
                font-size: 26px;
                line-height: 32px;
            }
        }
        &__day {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $color-60;
            @media screen and (max-width: 768px) {
                font-size: 20px;
                line-height: 24px;
            }
            @media screen and (max-width: 425px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;

        &--month {
            width: auto;
        }

        &__item {
            display: flex;
            width: 100%;
            margin-bottom: 5px;
        }

        &__time {
            width: 10%;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $color-10;
            @media screen and (max-width: 1920px) {
                font-size: 18px;
                line-height: 22px;
            }
            @media screen and (max-width: 426px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &__subgroup {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 13px 0;
            border-radius: 5px;
            background-color: $color-80;

            &__title {
                background-color: $color-90;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: $color-10;
                @media screen and (max-width: 426px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &--horizontal-line {
                width: 30%;
                height: 1px;
                border-width: 0;
                color: $color-10;
                background-color: $color-10;
            }

            &--vertical-line {
                margin: auto;
                width: 1px;
                height: 136px;
                border-width: 0;
                color: $color-60;
                background-color: $color-60;
                @media screen and (max-width: 426px) {
                    height: 84px;
                }
            }

            &--full {
                width: 90%;
            }

            &--changedcolor {
                background-color: $color-40-lighter;
            }

            &__subject {
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 23px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-10;
                @media screen and (max-width: 426px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &__type {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-20;
                margin-bottom: 25px;
                @media screen and (max-width: 426px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            &__professor {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-10;
                margin-bottom: 27px;
                @media screen and (max-width: 426px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            &__place {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-20;
                @media screen and (max-width: 426px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            &__link {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-20;
                @media screen and (max-width: 426px) {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}
