$color-banner: #B1A7A6;
$color-text: #0B091A;
$color-0: #0b090a;
$color-10: #161a1d;
$color-20: #660708;
$color-30: #a4161a;
$color-40: #ba181b;
$color-50: #e5383b;
$color-60: #b1a7a6;
$color-70: #d3d3d3;
$color-80: #f5f3f4;
$color-90: #fff;
