<div class="calendar">
  <div [ngClass]="{'markup': true, 'markup--4rows': monthTemplate.rows == 4, 'markup--6rows': monthTemplate.rows == 6}">
    <div class="markup__weekday">пн</div>
    <div class="markup__weekday">вт</div>
    <div class="markup__weekday">ср</div>
    <div class="markup__weekday">чт</div>
    <div class="markup__weekday">пт</div>
    <div class="markup__weekday">сб</div>
    <div class="markup__weekday">нд</div>

    <ng-template [ngIf]="monthTemplate?.previousMonthDays">
      <div class="markup__day markup__day--grey" *ngFor="let previous of previousMonthArray">
        <p class="markup__day__number">{{previous}}</p>
      </div>
    </ng-template>

    <div
      [ngClass]="{'markup__day': true, 'markup__day--chosen': selectedDate == index + 1 && currentMonth == selectedMonth}"
      *ngFor="let day of monthDays; index as index" (click)="chooseDay(index + 1)">
      <p class="markup__day__number">{{index + 1}}</p>
      <div class="markup__day__lessons" *ngIf="!!monthInfo[index+1]?.lessonsAmount?.length">
        <div class="markup__day__lesson" *ngFor="let lessonIcon of monthInfo[index+1]?.lessonsAmount"></div>
      </div>
    </div>

    <ng-template [ngIf]="monthTemplate?.nextMonthDays">
      <div class="markup__day markup__day--grey" *ngFor="let next of nextMonthArray">
        <p class="markup__day__number">{{next}}</p>
      </div>
    </ng-template>
  </div>

  <div class="selection">
    <div class="selection__icon" (click)="previousMonth()">
      <</div> {{months[currentMonth]}} <div class="selection__icon" (click)="nextMonth()">>
    </div>
  </div>
</div>
