<div class="calendar">
  <div class="markup">
      <div class="markup__weekday">пн</div>
      <div class="markup__weekday">вт</div>
      <div class="markup__weekday">ср</div>
      <div class="markup__weekday">чт</div>
      <div class="markup__weekday">пт</div>
      <div class="markup__weekday">сб</div>
      <div class="markup__weekday">нд</div>
      <div class="markup__day markup__day--grey">
          <p class="markup__day__number">30</p>
      </div>
      <div class="markup__day markup__day--grey">
          <p class="markup__day__number">31</p>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">1</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">2</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">3</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">4</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">5</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">6</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day markup__day--chosen">
          <p class="markup__day__number">7</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">8</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">9</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">10</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">11</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">12</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">13</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">14</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">15</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">16</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">17</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">18</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">19</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">20</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">21</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">22</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">23</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">24</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">25</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">26</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">27</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">28</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">29</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">30</p>
          <div class="markup__day__lessons">
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
              <div class="markup__day__lesson"></div>
          </div>
      </div>
      <div class="markup__day">
          <p class="markup__day__number">31</p>
          <div class="markup__day__lessons">
          </div>
      </div>
      <div class="markup__day markup__day--grey">
          <p class="markup__day__number">1</p>
      </div>
      <div class="markup__day markup__day--grey">
          <p class="markup__day__number">2</p>
      </div>
  </div>
  <div class="selection">
      <img src="img/month-selection-left.svg" alt="" class="selection__icon">
      Січень
      <img src="img/month-selection-right.svg" alt="" class="selection__icon">
  </div>
</div>