@import '/src/variables.scss';

.no-group {
  position: relative;
  width: 100%;
  height: calc(100% - 113px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 960px) {
      height: calc(100% - 103px);
      justify-content: flex-start;
  }

  @media screen and (max-width: 660px) {
      height: calc(100% - 85px);
  }


  &__text {
      font-style: normal;
      font-size: 36px;
      line-height: 44px;
      color: $color-10;
      margin: 40px;
      text-align: center;

      @media screen and (max-width: 360px){
          margin: 20px;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 10px;
      }
  }
  &__icon {
      width: 150px;
      height: 150px;
      @media screen and (max-width: 360px){
          width: 100px;
          height: 100px;
      }
  }
}
